/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul li a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.bodyContainer{
  background: #1e1e1e;
  display: grid;
  grid-template-areas:
  "headerContainer"
  "mainContainer"
  "foooterContainer";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 60px;
}

.headerContainer {
  grid-area: headerContainer;
  display: grid;
  grid-template-areas:
  "menuContainer";
}

.mainContainer {
  grid-area: mainContainer;
  display: grid;
  grid-template-areas:
  "presentationContainer";
}

.footerContainer {
  display: grid;
  grid-area: footerContainer;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.menuContainer {
  grid-area: menuContainer;
  display: grid;
  grid-template-areas:
    "navTitle1"
    "navTitle2"
    "navSocial";
  grid-template-columns: 127px 77px 116px;
  grid-template-rows: 48px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navTitle1 {
  grid-area: navTitle1;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.navTitle2 {
  grid-area: navTitle2;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.navSocial {
  grid-area: navSocial;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.presentationContainer {
  grid-area: presentationContainer;
  display: grid;
  grid-template-areas:
  "presentationBanner presentationBanner"
  "presentationImg presentationTitle"
  "presentationImg presentationDescr";
  grid-template-columns: 206px 92px;
  grid-template-rows: 40px 104px;
  row-gap: 12px;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.presentationBanner {
  grid-area: presentationBanner;
  background: #444242;
  height: 40px;
  border-radius: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.presentationTitle {
  grid-area: presentationTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.presentationDescr {
  grid-area: presentationTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.presentationImg {
  grid-area: presentationTitle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workContainer {
}
.workTitle {
}
.workDescr {
}
.workPort {
}

.bioContainer {
}
.bioTitle {
}
.bioYear {
}
.bioDescr {
}

.socialContainer {
}
.socialTitle {
}
.socialIcon {
}
.socialDescr {
}

.portfolioContainer {
}
.project1Container {
}
.project1Img {
}
.project1Title {
}
.project1Descr {
}

.project2Container {
}
.project2Img {
}
.project2Title {
}
.project2Descr {
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.copyrightContainer {
}

.copyrightTitle {
}
