/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul li a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.bodyContainer {
  background: #1e1e1e;
  display: grid;
  grid-template-areas:
    "headerContainer"
    "mainContainer"
    "footerContainer";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 60px;
}

.headerContainer {
  grid-area: headerContainer;
  display: grid;
  grid-template-areas: "menuContainer";
}

.mainContainer {
  grid-area: mainContainer;
  display: grid;
  grid-template-areas:
    "presentationContainer"
    "roadContainer"
    "bioContainer"
    "worksContainer";
  row-gap: 40px;
}

.footerContainer {
  grid-area: footerContainer;
  display: grid;
  grid-template-areas:
  "copyrightContainer";
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.menuContainer {
  grid-area: menuContainer;
  display: grid;
  grid-template-areas:
    "navTitle1"
    "navTitle2"
    "navSocial";
  grid-template-columns: 127px 77px 116px;
  grid-template-rows: 48px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navTitle1 {
  grid-area: navTitle1;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.navTitle2 {
  grid-area: navTitle2;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.navSocial {
  grid-area: navSocial;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.presentationContainer {
  grid-area: presentationContainer;
  display: grid;
  grid-template-areas:
    "presentationBanner presentationBanner"
    "presentationImg presentationTitle"
    "presentationImg presentationDescr";
  grid-template-columns: 206px 92px;
  grid-template-rows: 40px 104px;
  row-gap: 12px;
  column-gap: 12px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.presentationBanner {
  grid-area: presentationBanner;
  background: #444242;
  height: 40px;
  border-radius: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 270px;
}
.presentationTitle {
  grid-area: presentationTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.presentationDescr {
  grid-area: presentationTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #a6a0a0;
}
.presentationImg {
  grid-area: presentationTitle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadContainer {
  grid-area: roadContainer;
  display: grid;
  grid-template-areas:
    "roadTitle"
    "roadDescr"
    "roadResume";
  grid-template-columns: 270px;
  grid-template-rows: 16px auto 40px;
  row-gap: 12px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.roadTitle {
  grid-area: roadTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #ffffff;
  width: 100%;
}
.roadDescr {
  grid-area: roadDescr;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.roadResume a {
  grid-area: roadResume;
  background: #c2c2c2;
  height: 40px;
  border-radius: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272727;
  width: 120px;
}

.bioContainer {
  grid-area: bioContainer;
  display: grid;
  grid-template-areas:
    "bioTitle"
    "bioYear"
    "bioDescr";
  grid-template-columns: 270px;
  grid-template-rows: auto auto auto;
  row-gap: 12px;
  column-gap: 12px;
  justify-content: center;
  justify-items: start;
  align-items: center;
  width: 100%;
}
.bioTitle {
  grid-area: bioTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #ffffff;
  width: 100%;
}
.bioYear {
  grid-area: bioYear;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.bioDescr {
  grid-area: bioDescr;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.worksContainer {
  grid-area: worksContainer;
  display: grid;
  grid-template-areas:
    "project1Container"
    "project2Container";
  grid-template-columns: 270px;
  grid-template-rows: auto;
  row-gap: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.worksTitle {
  grid-area: worksTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #ffffff;
  width: 100%;
}

.project1Container {
  grid-area: project1Container;
  display: grid;
  grid-template-areas:
    "worksTitle"
    "project1Img"
    "project1Title"
    "project1Descr";
  grid-template-columns: 270px;
  grid-template-rows: auto;
  row-gap: 12px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.project1Img {
  grid-area: project1Img;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project1Title {
  grid-area: project1Title;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
}
.project1Descr {
  grid-area: project1Descr;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.project2Container {
  grid-area: project2Container;
  display: grid;
  grid-template-areas:
    "project2Img"
    "project2Title"
    "project2Descr";
  grid-template-columns: 270px;
  grid-template-rows: auto;
  row-gap: 12px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.project2Img {
  grid-area: project2Img;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project2Title {
  grid-area: project2Title;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
}
.project2Descr {
  grid-area: project2Descr;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.copyrightContainer {
  grid-area: copyrightContainer;
  display: grid;
  grid-template-areas: "copyrightTitle";
  grid-template-columns: 270px;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.copyrightTitle {
  grid-area: copyrightTitle;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b4b2b2;
}
